@import "src/app/core/global-css/fonts";
@import "src/app/core/global-css/flex";
@import "src/app/core/global-css/buttons";
@import "src/app/core/global-css/colors";
@import "src/app/core/global-css/confirmation-buttons";

$wrapperPadding: 50px;
$innerPadding: 50px;

.wrapper {
  width: 100%;
  height: 100%;
  padding: $wrapperPadding;
}

.container {
  width: 80%;
  min-height: 80%;
  padding: $innerPadding;
  margin: 0;
  background-color: $white-300;
  border-radius: $borderRadius;
  box-shadow: 0 0 2px 0 $skin-100;

  table {
    width: 75%;
    margin: 0 auto;
    border-collapse: collapse;

    td, th {
      text-align: center;
      padding: 15px;
      color: $black;
      transition: $animationTime;
      cursor: default;
    }

    th {
      font-size: $medium;
      font-weight: 700;
      background-color: $table-background;
      color: $gray-100;
    }

    th:hover {
      background-color: $white-200;
    }

    td {
      font-size: $small;
      background-color: $white-400;
    }

    td:hover {
      background-color: $white-300;
    }

    .action-td {
      width: 50px !important;
      cursor: pointer;
    }
  }
}


@media (max-width: 600px) {
  .wrapper {
    padding: 30px;
  }

  .container {
    width: 100%;
    padding: 25px 15px;
  }

 table {
   width: 100% !important;

   td, th {
     padding: 8px !important;
   }
 }
}


.sweet-products {
  width: 100%;
  height: 100%;

  .products-wrapper {
    width: 100%;
    border-radius: 4px;
    padding: 0;
    margin: 0;

    .product-scheme {
      background-color: $table-background;
      border-radius: 4px;

      .product-scheme-item {
        flex: 1;
        text-align: center;
        margin: 0;
        padding: 8px;
        font-size: $medium;
        font-weight: 700;
        color: $gray-100;
        transition: $animationTime;
      }

      .product-scheme-item:hover {
        background-color: $white-200;
      }
    }

    .product {
      .product-input {
        display: block;
        width: 100%;
        margin: 5px 2px;
        padding: 8px;
        outline: none;
        background-color: $white-400;
        box-shadow: 0 0 1px 0 $gray-100;
        font-size: $medium;
        transition: $animationTime;
        border: 1px solid transparent;
        border-radius: 5px;
      }
      .product-input:hover {
        border: 1px solid $blue-300;
      }
      .product-input:focus {
        border: 1px solid $blue-300;
        box-shadow: 0 0 0 3px $blue-400;
      }
    }
  }
}

@media (max-width: 1100px) {
  .sweet-products {
    .products-table-wrapper {
      width: 75%;
      margin: 0 auto;
    }
  }
}

@media (max-width: 650px) {
  .sweet-products {
    .products-table-wrapper {
      width: 100% !important;

      td, th {
        font-size: $small;
        padding: 5px !important;
      }
    }

    .products-wrapper {
      width: 100% !important;

      .product-scheme-item, .product-input {
        font-size: 14px !important;
      }
    }
  }
}
