@import "src/app/core/global-css/fonts";
@import "src/app/core/global-css/flex";
@import "src/app/core/global-css/buttons";
@import "src/app/core/global-css/colors";

$wrapperPadding: 50px;
$innerPadding: 50px;

.wrapper {
  width: 100%;
  height: 100%;
  padding: $wrapperPadding;
}

.container {
  width: 80%;
  min-height: 80%;
  padding: $innerPadding;
  margin: 0;
  background-color: $white-300;
  border-radius: $borderRadius;
  box-shadow: 0 0 2px 0 $skin-100;

  table {
    width: 75%;
    margin: 0 auto;
    border-collapse: collapse;

    td, th {
      text-align: center;
      padding: 15px;
      color: $black;
      transition: $animationTime;
      cursor: default;
    }

    th {
      font-size: $medium;
      font-weight: 700;
      background-color: $table-background;
      color: $gray-100;
    }

    th:hover {
      background-color: $white-200;
    }

    td {
      font-size: $small;
      background-color: $white-400;
    }

    td:hover {
      background-color: $white-300;
    }

    .action-td {
      width: 50px !important;
    }
  }
}


@media (max-width: 600px) {
  .container {
    padding: 25px 15px;
  }

 table {
   td, th {
     padding: 8px !important;
   }
 }
}
