<div class="wrapper flex justify-content-center align-items-center">
  <div class="container">
    <div class="inner-container flex justify-content-between gap-50">
      <div class="sweet-info flex col gap-20">
        <div class="img-wrapper">
          <img src="https://images.freeimages.com/images/previews/ac9/railway-hdr-1361893.jpg" alt="Sweet-Img">
        </div>
        <span class="sweet-name">Name Long Name</span>
        <span class="sweet-price">12000AMD</span>
      </div>
      <div class="sweet-products flex col gap-20">
          <span class="products-header">Products</span>

        <div class="product flex justify-content-center gap-15">  <!-- *ngFor products -->
          <span class="product-name">ProductName</span>
          <span class="product-quantity">(0.768)</span>
          <span class="product-price">1000AMD</span>
        </div>

      </div>
    </div>

    <div class="action-buttons flex gap-15 justify-content-end">
      <button type="button" class="btn-md edit-btn">Edit</button>
      <button type="button" class="btn-md brown-btn">Delete</button>
    </div>

  </div>
</div>
