@import "/src/app/core/global-css/GlobalCssConfigs";

.wrapper {
  padding: 50px 50px 100px 50px;

  .container {
    width: 80%;
    padding: 0;
    margin: 0;
    background-color: $white-300;
    border-radius: $borderRadius;
    box-shadow: 0 0 2px 0 $skin-100;
    transition: width $animationTime;

    .image-part {
      img {
        max-height: 500px;
        object-fit: cover;
        border-radius: $borderRadius;
      }
    }
  }
}

@media (max-width: 900px) {
  .wrapper {
    padding: 30px !important;

    .container {
      width: 100% !important;
      flex-direction: column !important;

      .table-part {
        padding: 10px !important;
      }
    }
  }
}

//    Loading Start

.loading-wrapper {
  .loading-text {
    font-size: $larger;
  }
}

:host ::ng-deep .p-progress-spinner,
:host ::ng-deep .p-progress-spinner-svg {
  width: 50px !important;
  height: 50px !important;
}

@media (max-width: 600px) {
  .loading-wrapper {
    .loading-text {
      font-size: $large;
    }
  }

  :host ::ng-deep .p-progress-spinner,
  :host ::ng-deep .p-progress-spinner-svg {
    width: 40px !important;
    height: 40px !important;
  }
}

//    Loading End

:host ::ng-deep .p-dialog-footer {
  .dialog-btn {
    width: 130px !important;
    height: 40px !important;
  }
}
