<div class="form-wrapper flex justify-content-center align-items-center">
  <form [formGroup]="addSweetForm" (ngSubmit)="onAdd()">
    <div class="form-container flex col align-items-center gap-10">

      <div class="w-100 flex">
        <button class="rounded-btn skin-btn" type="button" [routerLink]="['add']">
          <i class="pi pi-arrow-left"></i>
        </button>
        <h3 class="form-header">Add Sweet</h3>
      </div>

      <div class="form-group flex col gap-10">
        <label class="form-label" for="product-name">Name *</label>
        <input formControlName="Name"
               id="product-name"
               class="form-input"
               [ngClass]="{'ng-invalid ng-dirty': addSweetForm.controls.Name.invalid &&
               addSweetForm.controls.Name.touched}"
               type="text"
               pInputText
               placeholder="Enter Sweet's Name">

        <div class="p-error-wrapper">
          <small *ngIf="addSweetForm.controls.Name.touched &&
                  addSweetForm.controls.Name.hasError('required')"
                 class="p-error">
            Name is required.
          </small>
          <small *ngIf="addSweetForm.controls.Name.touched &&
                  addSweetForm.controls.Name.hasError('maxlength')"
                 class="p-error">
            Name is too long.
          </small>
        </div>
      </div>

      <div class="form-group flex col gap-10">
        <label class="form-label" for="sweet-products">Products *</label>
        <div class="multiselect-container">
          <p-multiSelect inputId="sweet-products"
                         id="sweet-products"
                         [autofocusFilter]="false"
                         [ngClass]="{'ng-invalid ng-dirty': addSweetForm.controls.Products.invalid &&
                         addSweetForm.controls.Products.touched}"
                         [options]="products"
                         [showToggleAll]="false"
                         [(ngModel)]="selectedProducts"
                         [ngModelOptions]="{standalone: true}"
                         (onChange)="createItem($event)"
                         optionLabel="Name"
                         placeholder="Select Sweet's Products">
          </p-multiSelect>
        </div>

        <ng-container formArrayName="Products" *ngIf="productsAsFormArray().controls.length > 0">
          <div class="form-group flex col gap-10"
               *ngFor="let group of productsAsFormArray().controls; let i = index"
               [formGroupName]="i">
            <div class="w-100 flex justify-content-between align-items-center">
              <label for="Quantity">
                {{ getFormGroup(i).controls['Name'].value }} Quantity *</label>
              <button type="button"
                      class="btn-xs skin-action-btn"
                      (click)="removeFormGroup(i)">
                <i class="fa-solid fa-trash icon-md"></i>
              </button>
            </div>
            <p-inputNumber [showButtons]="true"
                           buttonLayout="horizontal"
                           id="Quantity"
                           formControlName="Quantity"
                           (onInput)="sweetSelectionChangedWithInput($event)"
                           [step]="0.25"
                           [min]="0.5"
                           [ngClass]="{'ng-invalid ng-dirty': getFormGroup(i).controls['Quantity'].touched &&
                           getFormGroup(i).controls['Quantity'].invalid}"
                           incrementButtonIcon="pi pi-plus"
                           decrementButtonIcon="pi pi-minus"
                           inputId="Quantity">
            </p-inputNumber>
          </div>
        </ng-container>

        <div class="p-error-wrapper">
          <small *ngIf="addSweetForm.controls.Products.touched &&
                  addSweetForm.controls.Products.hasError('required')"
                 class="p-error">
            Products Is Required.
          </small>
        </div>
      </div>

      <div class="form-group flex col gap-10">
        <label for="Profit">Profit *</label>
        <p-inputNumber id="Profit"
                       formControlName="Profit"
                       (keyup)="sweetSelectionChangedWithInput($event)"
                       [ngClass]="{'ng-invalid ng-dirty': addSweetForm.controls['Profit'].touched &&
                       addSweetForm.controls['Profit'].invalid}"
                       placeholder="Enter Profit For Sweet"
                       inputId="Profit">
        </p-inputNumber>

        <div class="p-error-wrapper">
          <small *ngIf="addSweetForm.controls.Profit.touched &&
                  addSweetForm.controls.Profit.hasError('required')"
                 class="p-error">
            Profit Is Required.
          </small>

          <small *ngIf="addSweetForm.controls.Profit.touched &&
                  addSweetForm.controls.Profit.hasError('isNotPositive')"
                 class="p-error">
            Profit Must Be Greater Than 0.
          </small>
        </div>
      </div>

      <div class="form-group flex col gap-10">
        <span class="image-label">Image *</span>
        <div class="img-dropzone"
             [ngClass]="{'img-invalid': addSweetForm.controls.Image.invalid && addSweetForm.controls.Image.touched}"
             imgDrag
             (click)="imgInput.click()"
             (file)="imageDropped($event)">
          <div class="drag-message flex col gap-10 justify-content-center align-items-center">
              <i class="pi pi-image icon-max"></i>
              <span class="flex gap-5 align-items-center">
                Drag your image here or browse
              </span>
          </div>
        </div>

        <input style="display: none;"
               #imgInput
               type="file"
               accept="image/png,image/jpg,image/jpeg"
               (change)="onFileChange($event)"/>

        <ng-container *ngIf="addSweetForm.controls.Image.value">
          <div class="img-preview">
            <div class="img-container" *ngIf="addSweetForm.controls.Image.value">
              <div class="rounded-btn gray-btn img-cancel" (click)="imageClear(sweet)"><i
                class="pi pi-times img-cancel"></i></div>
              <img [src]="(addSweetForm.controls.Image.value) || (sweet.Image)"
                   class="selected-sweet-image" [alt]="sweet.Name">
            </div>
          </div>
        </ng-container>

        <div class="p-error-wrapper">
          <small *ngIf="addSweetForm.controls.Image.touched &&
                  addSweetForm.controls.Image.hasError('required')"
                 class="p-error">
            Image is required.
          </small>
        </div>

      </div>

      <div class="item-total-price-wrapper w-100 flex justify-content-between align-items-center">
          <span class="item-total-price-text">
            Total Price:
          </span>

        <span class="item-total-price">
            {{ sweetTotalPrices.CurrentTotalPrice ? sweetTotalPrices.CurrentTotalPrice : 0 }} AMD
          </span>
      </div>
    </div>

    <button type="submit" class="btn-md skin-btn form-btn">
        <span class="flex justify-content-center align-items-center gap-5">
          Add
          <i class="fa-solid fa-square-plus icon-md"></i>
        </span>
    </button>
  </form>
</div>
