<div class="page-wrapper flex col">
  <div class="header-wrapper">

    <div class="header-titles flex justify-content-between">

      <div class="logo-wrapper" [routerLink]="['sweets']" (click)="closeMenu()">
        <div class="header-logo">
          <img src="/assets/Images/logo.jpg" alt="Logo">
        </div>
      </div>

      <ng-container *ngIf="isAuthenticated.getValue() || isAlreadyAuthenticated">
        <div class="hamburger-wrapper flex justify-content-center align-items-center">
          <div class="hamburger-menu"
               [ngClass]="{'open': menu}"
               (click)="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
        </div>
      </ng-container>

    </div>

    <ng-container *ngIf="isAuthenticated.getValue() || isAlreadyAuthenticated">
      <div class="header-links-wrapper"
           [ngClass]="{'header-height': !menu}">
        <div class="header-links-container"
             [ngClass]="{'visibility': menu}">
          <li class="header-link" [routerLink]="['sweets']" routerLinkActive="active" (click)="closeMenu()">Sweets</li>
          <li class="header-link" [routerLink]="['products']" routerLinkActive="active" (click)="closeMenu()">Products</li>
          <li class="header-link bottom-line" [routerLink]="['add']" routerLinkActive="active" (click)="closeMenu()">Add</li>
        </div>
      </div>
    </ng-container>

  </div>

   <div class="out-of-header" [ngClass]="{'visibility-background': menu}" (click)="closeMenu()"></div>

</div>
