@import "/src/app/core/global-css/GlobalCssConfigs";

.page-wrapper {
  position: fixed;
  z-index: 2;
  overflow: hidden;
}

.out-of-header {
  background-color: $gray-background;
  opacity: 0;
  visibility: hidden;
  transition: $animationTime;
}


.header-titles {
  height: 65px;
  background-color: $white-400;
  border-bottom: 1px solid $skin-100;

  .header-logo, .header-logo > img {
    width: 65px;
    height: 64px;
    cursor: pointer;
  }

  .hamburger-wrapper {
    display: block;
    width: 65px;
    height: 65px;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;

    .hamburger-menu {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 75%;
      height: 75%;
      transition: 0.2s ease-in-out;
      cursor: pointer;

      .bar {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        border-radius: 8px;
        background-color: $gray-200;
        opacity: 1;
        left: 0;
        transition: 0.2s ease-in-out;
        transform: rotate(0deg);
      }
    }

    .hamburger-menu div:nth-child(1) {
      top: 10px;
    }

    .hamburger-menu div:nth-child(2), .hamburger-menu div:nth-child(3) {
      top: 20px;
    }

    .hamburger-menu div:nth-child(4) {
      top: 30px;
    }

    .hamburger-menu.open div:nth-child(1) {
      top: 18px;
      width: 0;
      left: 50%;
    }

    .hamburger-menu.open div:nth-child(2) {
      transform: rotate(45deg);
    }

    .hamburger-menu.open div:nth-child(3) {
      transform: rotate(-45deg);
    }

    .hamburger-menu.open div:nth-child(4) {
      top: 18px;
      width: 0;
      left: 50%;
    }
  }
}

.header-title-border {
  border-bottom: 1px solid $skin-100;
}

.header-links-wrapper {
  .header-links-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    list-style: none;
    visibility: hidden;
    opacity: 0;
    transition: $animationTime;
  }

  .header-link {
    width: 100%;
    height: 65px;
    line-height: 65px;
    background-color: $white-400;
    color: $gray-200;
    text-align: center;
    transition: 0.15s;
    cursor: pointer;

    &:hover {
      background-color: $skin-300;
      color: $white-400;
    }

    &:active {
      background-color: $skin-100;
    }
  }
}

.bottom-line {
  border-bottom: 1px solid $skin-100;
}

.visibility {
  visibility: visible !important;
  opacity: 1 !important;
}

.visibility-background {
  height: 100vh !important;
  visibility: visible !important;
  opacity: 0.5 !important;
}


.header-height {
  height: 0 !important;
}

.active {
  background-color: $skin-200 !important;
}

//  Languages Block Start

.languages-wrapper .p-element {
  width: 100%;
}

:host ::ng-deep .p-panelmenu-header .p-panelmenu-header-link {
  justify-content: center;
  align-items: center;
  background-color: $white-400;
  border: none;

  &:focus {
    box-shadow: none;
  }
}

:host ::ng-deep .p-panelmenu-panel,
:host ::ng-deep .p-panelmenu-content {
  margin: 0;
}

:host ::ng-deep .p-panelmenu .p-panelmenu-content {
  border: none;
}

:host ::ng-deep .p-element.p-menuitem .p-menuitem-link {
  justify-content: center;
  align-items: center;

  &:focus {
    box-shadow: none;
  }
}

//  Languages Block End
