@import "app/core/global-css/colors";
@import "app/core/global-css/fonts";

.header-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  opacity: 0.85;
}

.header-titles {
  width: 100%;
  height: 65px;
  background-color: $white-300;
  display: flex;
  justify-content: space-between;

  .header-logo , .header-logo > img {
    width: 65px;
    height: 65px;
    cursor: pointer;
  }

  .hamburger-wrapper {
    display: block;
    position: absolute;
    top: 0;
    right: 0
  }

  .hamburger-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 5px;
    width: 40px;
    height: 40px;
    transition: 0.2s ease-in-out;
    cursor: pointer;

    .bar {
      display: block;
      position: absolute;
      width: 80%;
      height: 3px;
      border-radius: 8px;
      background-color: $gray-200;
      opacity: 1;
      left: 0;
      transition: 0.2s ease-in-out;
      transform: rotate(0deg);
    }
  }

  .hamburger-menu div:nth-child(1) {
    top: 10px;
  }

  .hamburger-menu div:nth-child(2),.hamburger-menu div:nth-child(3) {
    top: 20px;
  }

  .hamburger-menu div:nth-child(4) {
    top: 30px;
  }

  .hamburger-menu.open div:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%;
  }

  .hamburger-menu.open div:nth-child(2) {
    transform: rotate(45deg);
  }

  .hamburger-menu.open div:nth-child(3) {
    transform: rotate(-45deg);
  }

  .hamburger-menu.open div:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
  }
}

.header-links-wrapper {
  width: 100%;
  height: auto;

  .header-links-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    list-style: none;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
  }

  .header-link {
    width: 100%;
    height: 65px;
    line-height: 65px;
    background-color: $white-300;
    color: $gray-200;
    text-align: center;
    transition: 0.15s;
    cursor: pointer;
  }
  .header-link:hover {
    background-color: $white-200;
  }
  .header-link:active {
    background-color: $white-100;
  }
}

.visibility {
  visibility: visible !important;
  opacity: 1 !important;
}

.active {
  background-color: $skin-200;
}
