<div class="sweets-wrapper flex justify-content-center align-items-center">
  <div class="container">

    <div class="sweet-card">
      <div class="sweet-image-wrapper">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/800px-Image_created_with_a_mobile_phone.png"
          class="sweet-image"
          alt="...">
      </div>
      <div class="sweet-card-info">
        <h3 class="sweet-name">Sweet Name Long Name</h3>
        <span class="sweet-price">20 000AMD</span>
      </div>
      <div class="sweet-card-buttons flex justify-content-center align-items-center">
        <button class="sweet-btn edit-sweet-btn btn-md blue-btn">Edit</button>
        <button class="sweet-btn delete-sweet-btn btn-md red-btn">Delete</button>
      </div>
    </div>

<!--  TODO render the cards with *ngFor  -->

  </div>
</div>
