<ng-container *ngIf="!isMobile; else mobileFilters">
  <app-d-filters
    (FiltersChanged)="getFiltersFromChildComponent($event)"
    [TableFilters]="TableFilters"
    [FiltersForm]="TableFiltersForm"
    [Submitted]="Submitted">
  </app-d-filters>
</ng-container>

<ng-template #mobileFilters>
  <app-m-filters (FiltersChanged)="getFiltersFromChildComponent($event)"
                 [TableFilters]="TableFilters"
                 [FiltersForm]="TableFiltersForm"
                 [Submitted]="Submitted">
  </app-m-filters>
</ng-template>
