@import "/src/app/core/global-css/fonts";
@import "/src/app/core/global-css/colors";
$borderRadius: 8px;
$animationTime: 0.2s;


.btn-sm {
  width: 100px;
  height: 30px;
  border: none;
  outline: none;
  font-size: $small;
  border-radius: $borderRadius;
  cursor: pointer;
  transition: $animationTime;
}

.btn-md {
  width: 120px;
  height: 40px;
  border: none;
  outline: none;
  font-size: $medium;
  border-radius: $borderRadius;
  cursor: pointer;
  transition: $animationTime;
}

.btn-lg {
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  font-size: $big;
  border-radius: $borderRadius;
  cursor: pointer;
  transition: $animationTime;
}


.primary {
  color: $gray-100;
  background-color: $primary;
}
.primary:hover {
  color: $black;
  background-color: $skin-100;
}
