$primary: #eacabb;
$secondary: #5b3e2c;
$black: #212020;

$white-100: #b0b0b0;
$white-200: #c2c2c2;
$white-300: #f3f3f3;
$white-400: #ffffff;

$gray-100: #444444;
$gray-200: #6b6a6a;
$gray-300: #9f9f9f;

$brown-100: #5b3e2c;
$brown-200: #795037;
$brown-300: #8a593b;

$skin-100: #e5c0a9;
$skin-200: #f3dcd1;
$skin-300: #ecdbd5;

$green-100: #00AF45;
$green-200: #00CE51;
$green-300: #00EA5C;
