$primary: #eacabb;
$secondary: #5b3e2c;
$black: #212020;
$error: #e24c4c;
$table-background: #e0dfdf;
$table-loading: #e6e6e6;
$link-static: #467dff;
$link-hover: #2a79f6;

$primary-100: #e5c0a9;
$primary-200: #f3dcd1;
$primary-300: #ecdbd5;
$primary-background: #f6f1f1;
$primary-disabled: #ce978e;

$primary-action-btn-300: $primary-100;
$primary-action-btn-200: #dcb095;
$primary-action-btn-100: #e1a985;
$primary-action-btn-disabled: #cc9875;

$secondary-100: #5b3e2c;
$secondary-200: #795037;
$secondary-300: #8a593b;
$secondary-disabled: #563723;

$white-100: #CAC8C8;
$white-200: #E2E2E2;
$white-300: #f3f3f3;
$white-400: #ffffff;

//  ToDo (For DarkMode)

//$black-100: #000000;
//$black-200: #000000;
//$black-300: #000000;
//$black-400: #000000;

$gray-100: #444444;
$gray-200: #6b6a6a;
$gray-300: #bbbbbb;
$gray-disabled: #565454;
$gray-background: #484848;
