$primary: #eacabb;
$secondary: #5b3e2c;

$white-100: #b0b0b0;
$white-200: #cccccc;
$white-300: #ffffff;

$gray-100: #444444;
$gray-200: #6b6a6a;
$gray-300: #9f9f9f;

$brown-100: #5b3e2c;
$brown-200: #795037;
$brown-300: #8a593b;

$skin-100: #eacabb;
$skin-200: #f3dcd1;
$skin-300: #ecdbd5;

$green-100: #00AF45;
$green-200: #00CE51;
$green-300: #00EA5C;
