@import "src/app/core/global-css/colors";

//    No Button Start

:host ::ng-deep .p-element.primary-action-btn.p-button.p-component {
  background-color: $primary-action-btn-300 !important;
  color: $black;
  border: none;
}
:host ::ng-deep .p-element.primary-action-btn.p-button.p-component:hover {
  background-color: $primary-action-btn-200 !important;
}

:host ::ng-deep .p-element.primary-action-btn.p-button.p-component:active {
  background-color: $primary-action-btn-100 !important;
}

:host ::ng-deep .p-element.primary-action-btn.p-button.p-component:focus:focus-visible,
:host ::ng-deep .p-element.primary-action-btn.p-button.p-component.p-component:focus {
  box-shadow: 0 0 0 4px $secondary-300 !important;
}

//    No Button End


//    Yes Button Start

:host ::ng-deep .p-element.secondary-action-btn.p-button.p-component {
  background-color: $secondary-300 !important;
  color: $white-300 !important;
  border: none;
}

:host ::ng-deep .p-element.secondary-action-btn.p-button.p-component:hover {
  background-color: $secondary-200 !important;
}

:host ::ng-deep .p-element.secondary-action-btn.p-button.p-component:active {
  background-color: $secondary-100 !important;
}

:host ::ng-deep .p-element.secondary-action-btn.p-button.p-component:focus:focus-visible,
:host ::ng-deep .p-element.secondary-action-btn.p-button.p-component:focus {
  box-shadow: 0 0 0 4px $primary-100 !important;
}

//    Yes Button End
