$Xsmall: 12px;
$small: 14px;
$medium: 16px;
$big: 20px;
$large: 24px;
$larger: 28px;

.icon-xs {
  font-size: $Xsmall !important;
}

.icon-sm {
  font-size: $small !important;
}

.icon-md {
  font-size: $medium !important;
}

.icon-big {
  font-size: $big !important;
}
