$Xsmall: 12px;
$small: 14px;
$medium: 16px;
$big: 20px;
$large: 24px;
$larger: 28px;
$max: 40px;

$thin: 200;
$normal: 400;
$semiBold: 600;
$bold: 700;


.icon-xs {
  font-size: $Xsmall !important;
}

.icon-sm {
  font-size: $small !important;
}

.icon-md {
  font-size: $medium !important;
}

.icon-big {
  font-size: $big !important;
}

.icon-large {
  font-size: $large !important;
}

.icon-larger {
  font-size: $larger !important;
}

.icon-max {
  font-size: $max !important;
}

.icon-pointer {
  cursor: pointer;
}
