@import '/src/app/core/global-css/layout';
@import '/src/app/core/global-css/fonts';
@import '/src/app/core/global-css/buttons';
@import '/src/app/core/global-css/colors';

::-webkit-scrollbar {
  width: 5px;
}

//    Rounding Table Borders Start

table th:first-child {
  border-top-left-radius: 25px;
}

table th:last-child {
  border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 25px;
}

@media (max-width: 600px) {
  table th:first-child {
    border-top-left-radius: $borderRadius !important;
  }

  table th:last-child {
    border-top-right-radius: $borderRadius !important;
  }

  table tr:last-child td:first-child {
    border-bottom-left-radius: $borderRadius !important;
  }

  table tr:last-child td:last-child {
    border-bottom-right-radius: $borderRadius !important;
  }
}

//    Rounding Table Borders End


//    Loading Styling Start

:host ::ng-deep .p-progress-spinner-circle {
  stroke: $black !important;
}

//    Loading Styling End


//  -----------------    Filters Section Start  --------------------

//    Filters Structure Start

.filters-wrapper {
  padding: 20px 25px;
  background-color: $table-background;
  border-radius: $borderRadius;

  .filters-header {
    font-size: $medium;
    font-weight: $semiBold;
  }

  .inputs-wrapper {
    .filter-block {
      .filter-label {
        font-size: $small;
      }

      .filter-input {
        width: 140px !important;
        height: 35px !important;
        font-size: $Xsmall !important;
      }
    }
  }

  .filter-menu-wrapper {
    width: 40px;
    border-radius: $borderRadius;
  }
}


.overlay-wrapper {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  height: calc(100vh - 65px) !important;
  top: 65px;
  left: 0;
  z-index: 0;
  transition: $animationTime;

  .overlay-shadow {
    width: 35%;
    height: 100%;
    background-color: $gray-background;
    opacity: 0;
    visibility: hidden;
    transition: $animationTime;
  }

  .filters-panel {
    width: 65%;
    background-color: $white-300;
    transition: $animationTime;
    padding: 20px;

    .filter-actions-block {}

    .filter-block {
      .filter-label {
        font-size: $small;
      }

      .filter-input {
        width: 100% !important;
        height: 35px !important;
        font-size: $Xsmall !important;
      }
    }
  }
}


.visible-overlay {
  opacity: 1 !important;
  visibility: visible !important;
  z-index: 1 !important;
}

.visible-shadow {
  opacity: 0.5 !important;
  visibility: visible !important;
}

//    Filters Structure End

//    Input Styling Start

.p-inputnumber-input.p-component {
  font-size: $Xsmall !important;
  height: 35px;
}

//    Input Styling End


//  -----------------    Filters Section End  -----------------


//  -----------------    Table Section Start  -----------------

.limited-table-height {
  width: 85% !important;
  overflow: auto !important;
  max-height: 250px;
}

.table-wrapper {
  width: 75%;
  margin: 0 auto;
  overflow-x: auto;

  table {
    width: 100%;
    border-collapse: collapse;

    td, th {
      text-align: center;
      padding: 12px;
      color: $black;
      transition: $animationTime;
      cursor: default;
    }

    th {
      min-width: 100px;
      cursor: pointer;
      font-size: $medium;
      font-weight: 700;
      background-color: $table-background;
      color: $gray-100;

      .th-content  {
        pointer-events: none;
      }
    }

    .table-actions {
      cursor: default;
    }

    th:hover {
      background-color: $white-200;
    }

    td {
      max-width: 75px;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: $small;
      background-color: $white-400;
    }

    td:hover {
      background-color: $white-300;
    }

    .action-td {
      width: 50px !important;
      cursor: pointer;
    }
  }

  .empty-message {
    min-height: 130px;
    padding: 25px;
    background-color: $white-400;
    border-radius: $borderRadius;
    box-shadow: 0 0 1px 0 $gray-300;
    text-align: center;

    .message {
      font-size: $large;
    }

    .link {
      font-size: $medium;
    }
  }

  .loading-wrapper {
    min-height: 130px;
    padding: 10px;
    background-color: $table-loading;
  }
}

@media (max-width: 650px) {
  .table-wrapper {
    table {
      td, th {
        font-size: $small !important;
        padding: 5px !important;
      }
    }
  }
}

@media (max-width: 950px) {
  .table-wrapper {
    width: 100% !important;
    overflow-x: auto !important;

    table {
      tr {
        td, th {
          min-width: 120px;
          max-width: 150px !important;
          padding: 10px !important;
        }
        .action-td {
          min-width: 60px !important;
        }
      }
    }

    .empty-message {
      .message {
        font-size: $big !important;
      }

      .link {
        font-size: $small !important;
      }
    }
  }
}

//  -----------------    Table Section End  -----------------
