<div class="form-wrapper flex justify-content-center align-items-center">
  <form [formGroup]="addProductForm" (ngSubmit)="onAdd()">
    <div class="form-container flex col align-items-center gap-10">

      <div class="w-100 flex">
        <button class="rounded-btn skin-btn" type="button" [routerLink]="['add']"><i class="pi pi-arrow-left"></i></button>
        <h3 class="form-header">Add Product</h3>
      </div>

      <div class="form-group flex col gap-10">
        <label class="form-label" for="product-name">Name *</label>
        <input formControlName="Name"
               id="product-name"
               class="form-input p-inputtext-sm"
               [ngClass]="{'ng-invalid ng-dirty': addProductForm.controls.Name.touched &&
               (addProductForm.controls.Name.invalid || !addProductForm.value.Name?.trim())}"
               type="text"
               pInputText
               placeholder="Enter product's name">

        <div class="p-error-wrapper">
          <small *ngIf="addProductForm.controls.Name.touched &&
                  (addProductForm.controls.Name.hasError('required') || !addProductForm.value.Name?.trim())"
                 class="p-error">
            Name is required.
          </small>

          <small *ngIf="addProductForm.controls.Name.touched &&
                  addProductForm.controls.Name.hasError('minlength')"
                 class="p-error">
            Name is too short.
          </small>

          <small *ngIf="addProductForm.controls.Name.touched &&
                    addProductForm.controls.Name.hasError('maxlength')"
                 class="p-error">
            Name is too long.
          </small>
        </div>
      </div>

      <div class="form-group flex col gap-10">
        <label class="form-label" for="product-price">Price *</label>
        <p-inputNumber formControlName="Price"
                       [ngClass]="{'ng-invalid ng-dirty': addProductForm.controls.Price.touched &&
                       addProductForm.controls.Price.invalid}"
                       inputId="product-price"
                       id="product-price"
                       placeholder="Enter price for 1kg">
        </p-inputNumber>

        <div class="p-error-wrapper">
          <small *ngIf="addProductForm.controls.Price.touched &&
                    addProductForm.controls.Price.hasError('required')"
                 class="p-error">
            Price is required.
          </small>

          <small *ngIf="addProductForm.controls.Price.touched &&
                    addProductForm.controls.Price.hasError('isNotPositive')"
                 class="p-error">
            Price must be greater than 0.
          </small>

          <small *ngIf="addProductForm.controls.Price.touched &&
                    addProductForm.controls.Price.hasError('max')"
                 class="p-error">
            Price is too large.
          </small>
        </div>

      </div>

    </div>

    <button type="submit" class="btn-md skin-btn form-btn">
      <span class="flex justify-content-center align-items-center gap-5">
        Add
        <i class="fa-solid fa-square-plus icon-md"></i>
      </span>
    </button>
  </form>
</div>
