<div class="form-wrapper flex justify-content-center align-items-center">
  <form [formGroup]="productForm" (ngSubmit)="addProduct()">
    <div class="form-container flex col align-items-center gap-30">

      <div class="w-100 flex">
        <button class="rounded-btn skin-btn" type="button" [routerLink]="['add']"><i class="pi pi-arrow-left"></i></button>
        <h3 class="form-header">Add a product</h3>
      </div>

      <div class="form-group flex col gap-15">
        <label class="form-label" for="product-name">Name</label>
        <input formControlName="Name"
               id="product-name"
               class="form-input p-inputtext-sm"
               [ngClass]="{
                    'ng-invalid ng-dirty':
                    productForm.get('Name')?.hasError('required') && submitted
                    ||
                    productForm.get('Name')?.hasError('maxlength') && submitted
                    ||
                    productForm.get('Name')?.hasError('minlength') && submitted
                    ||
                    !productForm.value.Name?.trim() && submitted
                    }"
               type="text"
               pInputText
               placeholder="Enter product's name...">

        <small *ngIf="productForm.get('Name')?.hasError('required')  && submitted
                        || !productForm.value.Name?.trim() && submitted"
               class="p-error">
          Name is required.
        </small>

        <small *ngIf="productForm.get('Name')?.hasError('minlength')  && submitted"
               class="p-error">
          Name is too short.
        </small>

        <small *ngIf="productForm.get('Name')?.hasError('maxlength')  && submitted"
               class="p-error">
          Name is too long.
        </small>
      </div>

      <div class="form-group flex col gap-15">
        <label class="form-label" for="product-price">Price</label>
        <p-inputNumber formControlName="Price"
                       [ngClass]="{
                        'ng-invalid ng-dirty':
                        productForm.get('Price')?.hasError('required') && submitted
                        ||
                        productForm.get('Price')?.hasError('maxlength') && submitted
                        ||
                        productForm.get('Price')?.hasError('minlength') && submitted
                        ||
                        !productForm.value.Price && submitted
                        }"
                       inputId="product-price"
                       id="product-price"
                       placeholder="Enter price for 1kg...">
        </p-inputNumber>

        <small *ngIf="productForm.get('Price')?.hasError('required')  && submitted"
               class="p-error">
          Price is required.
        </small>

        <small *ngIf="productForm.get('Price')?.hasError('isNotPositive')  && submitted"
               class="p-error">
          Price must be greater than 0.
        </small>

        <small *ngIf="productForm.get('Price')?.hasError('max')  && submitted"
               class="p-error">
          Price is too large.
        </small>

      </div>

    </div>
    <button type="submit" class="btn-md skin-btn form-btn">
      <span class="flex justify-content-center align-items-center gap-5">
        Add
        <i class="fa-solid fa-square-plus icon-md"></i>
      </span>
    </button>
  </form>
</div>
