@import "/src/app/core/global-css/fonts";
@import "/src/app/core/global-css/buttons";
@import "/src/app/core/global-css/colors";
@import "/src/app/core/global-css/flex";

$containerPadding: 40px;

.form-wrapper {
  width: 100%;
  height: 100%;

  .form-container {
    width: 400px;
    height: 500px;
    background-color: $white-300;
    box-shadow: 0 0 2px 0 $skin-100;
    border-radius: $borderRadius;
    margin: 0 auto;
    padding: $containerPadding;

    .w-100.flex {
      .form-header {
        width: 100%;
        font-size: $large;
        color: $black;
        text-align: center;
        margin: 0;
        padding: 0;
      }
    }

    .form-group {
      width: 100%;

      .form-label {
        width: max-content;
      }

      .form-input {
        width: 100%;
        font-size: $small !important;
        padding: 14px 12px !important;
      }
    }
  }

  .form-btn {
    height: 50px !important;
    width: 100% !important;
    border-radius: 0 0 $borderRadius $borderRadius;
    transform: translateY(-50px);
  }
}


@media (max-width: 900px) {
  .form-container {
    width: 325px !important;
  }
}

// pInputNumber
:host ::ng-deep .p-inputnumber.p-component {
  width: 100% !important;

  span {
    font-size: $small !important;
  }
}

:host ::ng-deep .p-inputnumber-input.p-component {
  width: 100% !important;
  font-size: $small !important;
}

:host ::ng-deep .pi.pi-arrow-left {
  font-size: 12px;
}

// pMultiSelect
:host ::ng-deep .p-multiselect.p-component {
  font-size: $small !important;
  font-weight: $normal !important;
  width: 100%;
}

