<ng-container *ngIf="ShowTableFilters">
  <app-filters (SendFiltersToTableComponent)="ApplyFiltersToTable($event)" [TableFilters]="TableFilters"></app-filters>
</ng-container>

<h2 class="table-name text-center">{{ TableConfig.TableName | titlecase }}</h2>

<div class="table-wrapper" [ngClass]="{'limited-table-height': IsTableHeightLimited}">
  <table>
    <thead>
      <tr>
        <ng-container *ngIf="TableConfig.TableItems && TableConfig.TableItems.length > 0 && !Pending">

          <ng-container *ngFor="let ArrayObject of TableConfig.TableItems; let first = first">
            <ng-container *ngIf="first">
              <th *ngFor="let ObjectKeyValue of ArrayObject | keyvalue"
                  [pTooltip]="MakeTooltip(ObjectKeyValue.key)"
                  tooltipPosition="bottom"
                  [showDelay]="300"
                  (click)="SortTableField(ObjectKeyValue.key)">
                <div class="th-content flex justify-content-center align-items-center gap-10">
                  <span class="th-text">{{ ObjectKeyValue.key }}</span>
                  <ng-container *ngIf="ObjectKeyValue.key === SortingColumName">
                    <i class="th-icon icon-sm"
                       [ngClass]="TableSortingService.ColumnSortState$.getValue() === 'asc'  ?
                       'fa-solid fa-arrow-up' : TableSortingService.ColumnSortState$.getValue() === 'desc' ?
                       'fa-solid fa-arrow-down' : '' ">
                    </i>
                  </ng-container>
                </div>
              </th>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="TableConfig.TableActions">
            <th colspan="3" class="table-actions">Actions</th>
          </ng-container>

        </ng-container>

      </tr>
    </thead>
    <tbody>
    <ng-container *ngIf="TableConfig.TableItems && TableConfig.TableItems.length > 0 && !Pending">
      <ng-container *ngFor="let ArrayObject of TableConfig.TableItems">
        <tr (contextmenu)="OpenContextMenu($event, ArrayObject)">
          <td *ngFor="let ObjectKeyValue of ArrayObject | keyvalue"
              [pTooltip]="MakeTooltip(ObjectKeyValue.value)"
              tooltipPosition="bottom"
              [showDelay]="300">
            {{ ObjectKeyValue.value ? ObjectKeyValue.value : '-' }}
          </td>

          <ng-container *ngIf="TableConfig.TableActions">
            <app-context-menu *ngIf="ShowContextMenu.getValue()"
                              [RowItem]="TableRowItem"
                              [ShowContextMenu]="ShowContextMenu"
                              [ContextMenuItems]="ContextMenuItems"
                              [ContextMenuPosition]="ContextMenuPosition">
            </app-context-menu>
            <td class="action-td skin-action-btn" (click)="EnableEditing(ArrayObject)">
              <i class="pi pi-pencil icon-sm"></i>
            </td>
            <td class="action-td brown-action-btn" (click)="DeleteItem(ArrayObject)">
              <i class="pi pi-trash icon-sm"></i>
            </td>
          </ng-container>

        </tr>
      </ng-container>
    </ng-container>
    </tbody>
  </table>


  <ng-container *ngIf="!TableConfig.TableItems?.length && !Pending">
    <div class="empty-message w-100 flex col gap-20">
      <div class="message">
        There Are No {{ TableConfig.ItemName }}s Available
      </div>
      <div class="link">
        You Can Add Some <a [routerLink]="['/add/', TableConfig.ItemName.toLowerCase()]" class="classic-link">Here</a>.
      </div>
    </div>
  </ng-container>


  <ng-container *ngIf="Pending">
    <div class="loading-wrapper w-100 flex gap-10 justify-content-center align-items-center">
      <span class="loading-text">Please Wait</span>
      <p-progressSpinner class="p-progress-path"></p-progressSpinner>
    </div>
  </ng-container>
</div>


<ng-container *ngIf="IsEditDialogVisible">
  <p-dialog [(visible)]="IsEditDialogVisible"
            [dismissableMask]="true"
            [resizable]="false"
            [draggable]="false"
            [breakpoints]="{'1080px': '50vw','960px': '60vw', '640px': '85vw'}"
            [style]="{width: '450px'}"
            [header]="('Edit ' + TableConfig.ItemName) | titlecase"
            [modal]="true"
            (onHide)="HideEditDialog()"
            styleClass="p-fluid">

    <ng-template pTemplate="content">
      <app-table-edit-dialog
        *ngIf="IsEditDialogVisible"
        (HideEditDialog)="HideDialogInEditDialog($event)"
        [IsDialogVisible]="IsEditDialogVisible"
        [TableItemName]="TableConfig.ItemName"
        [TableItemEndPoint]="TableConfig.ItemEndPoint"
        [TableItem]="TableRowItem"
        [TableItemForm]="EditDialogForm"
        [FormIsSubmitted]="FormIsSubmitted">
      </app-table-edit-dialog>
    </ng-template>

    <ng-template pTemplate="footer">
      <div class="w-100 flex align-items-center justify-content-end">
        <button type="button"
                class="btn-md brown-action-btn dialog-btn"
                (click)="HideEditDialog()">
        <span class="flex justify-content-center align-items-center gap-5">
          Cancel
          <i class="pi pi-times icon-sm"></i>
        </span>
        </button>

        <button type="submit"
                class="btn-md skin-action-btn dialog-btn"
                [disabled]="EditDialogForm.pristine"
                [ngClass]="{'skin-action-btn-disabled': EditDialogForm.pristine}"
                (click)="SaveEditedItem()">
        <span class="flex justify-content-center align-items-center gap-5">
          Save
          <i class="pi pi-check icon-sm"></i>
        </span>
        </button>
      </div>
    </ng-template>

  </p-dialog>
</ng-container>

<p-confirmDialog [breakpoints]="{'650px': '85vw'}" [dismissableMask]="true"></p-confirmDialog>
