<div class="w-100 filters-wrapper flex justify-content-between align-items-center">

  <div class="w-100 h-100 filters-heading flex gap-5 justify-content-start align-items-center">
    <span class="filters-header">
      {{ 'Filters' | translate }}
    </span>
    <i class="fa-solid fa-filter icon-md"></i>
  </div>

  <div class="h-100 filter-menu-wrapper flex justify-content-center align-items-center">
    <i class="pi pi-sliders-h icon-big icon-pointer" (click)="toggleFilterOverlay()"></i>
  </div>

</div>



<div class="w-100 h-100 overlay-wrapper flex justify-content-start align-items-center"
     [ngClass]="{'visible-overlay': isFilterOverlayVisible}">
  <div class="overlay-shadow"
       [ngClass]="{'visible-shadow': isFilterOverlayVisible}"
       (click)="toggleFilterOverlay()">
  </div>

  <ng-container *ngIf="isFilterOverlayVisible">
    <div class="h-100 filters-panel flex col gap-30">

      <div class="w-100 filter-actions-block flex justify-content-between align-items-center">
        <div class="h-100 cancel-icon-wrapper">
            <i class="fa-solid fa-xmark icon-sm icon-pointer" (click)="toggleFilterOverlay()"></i>
        </div>

        <div class="h-100 flex gap-5 apply-btn-wrapper">
          <ng-container *ngIf="FiltersChangedState">
            <button type="button"
                    class="btn-sm secondary-action-btn filter-clear-btn"
                    (click)="resetFilters()">
              {{ 'Clear' | translate }}
            </button>
          </ng-container>
          <button type="submit"
                  class="btn-sm primary-btn"
                  (click)="applyFilters()">
            {{ 'Apply' | translate }}
          </button>
        </div>
      </div>
    <form [formGroup]="FiltersForm">
      <div class="w-100 flex col gap-25">
        <ng-container *ngIf="TableFilters?.ShowName">
          <div class="w-100 filter-block flex col gap-10 justify-content-center align-items-center">
            <label class="filter-label" for="NameMobileFilter">{{ 'Name' | translate }}</label>
            <input type="text"
                   formControlName="Name"
                   (keydown.enter)="applyFilters()"
                   class="filter-input p-inputtext-sm"
                   id="NameMobileFilter"
                   pInputText
                   [placeholder]="translateService.instant('NameFilterPlaceholder')">
          </div>
        </ng-container>

        <ng-container *ngIf="TableFilters?.ShowPrice">
          <div class="w-100 filter-block flex col gap-10 justify-content-center align-items-center">
            <label class="filter-label" for="PriceMobileFilter">{{ 'Price' | translate }}</label>
            <p-inputNumber inputId="PriceMobileFilter"
                           formControlName="Price"
                           (keydown.enter)="applyFilters()"
                           class="filter-input p-inputtext-sm"
                           id="PriceMobileFilter"
                           [placeholder]="translateService.instant('PriceFilterPlaceholder')">
            </p-inputNumber>
          </div>
        </ng-container>

        <ng-container *ngIf="TableFilters?.ShowAddress">
          <div class="w-100 filter-block flex col gap-10 justify-content-center align-items-center">
            <label class="filter-label" for="AddressMobileFilter">{{ 'Address' | translate }}</label>
            <input type="text"
                   formControlName="Address"
                   (keydown.enter)="applyFilters()"
                   class="filter-input p-inputtext-sm"
                   id="AddressMobileFilter"
                   pInputText
                   [placeholder]="translateService.instant('AddressFilterPlaceholder')">
          </div>
        </ng-container>

        <ng-container *ngIf="TableFilters?.ShowUsualAddress">
          <div class="w-100 filter-block flex col gap-10 justify-content-center align-items-center">
            <label class="filter-label" for="UsualAddressMobileFilter">{{ 'UsualAddress' | translate }}</label>
            <input type="text"
                   formControlName="UsualAddress"
                   (keydown.enter)="applyFilters()"
                   class="filter-input p-inputtext-sm"
                   id="UsualAddressMobileFilter"
                   pInputText
                   [placeholder]="translateService.instant('UsualAddressFilterPlaceholder')">
          </div>
        </ng-container>

        <ng-container *ngIf="TableFilters?.ShowPhoneNumber">
          <div class="w-100 filter-block flex col gap-10 justify-content-center align-items-center">
            <label class="filter-label" for="AddressMobileFilter">{{ 'PhoneNumber' | translate }}</label>
            <input type="text"
                   formControlName="PhoneNumber"
                   (keydown.enter)="applyFilters()"
                   class="filter-input p-inputtext-sm"
                   id="PhoneNumberMobileFilter"
                   pInputText
                   [placeholder]="translateService.instant('PhoneNumberFilterPlaceholder')">
          </div>
        </ng-container>
      </div>
    </form>

    </div>
  </ng-container>
</div>

