<div class="form-wrapper flex justify-content-center">
  <form [formGroup]="addClientForm" (ngSubmit)="onAdd()">
    <div class="form-container flex col align-items-center gap-20">

      <div class="w-100 flex">
        <button class="rounded-btn skin-btn" type="button" [routerLink]="['add']"><i class="pi pi-arrow-left"></i></button>
        <h3 class="form-header">Client</h3>
      </div>

      <div class="form-group flex col gap-10">
        <label class="form-label" for="Name">{{ 'Name' | translate }} *</label>
        <input id="Name"
               formControlName="Name"
               class="form-input p-inputtext-sm"
               [ngClass]="{
               'ng-invalid ng-dirty': addClientForm.controls.Name.invalid &&
               addClientForm.controls.Name.touched}"
               type="text"
               pInputText
               [placeholder]="translateService.instant('ClientNamePlaceholder')">

        <div class="p-error-wrapper">
          <small *ngIf="addClientForm.controls.Name.touched &&
                  addClientForm.controls.Name.hasError('required')"
                 class="p-error">
            {{ 'FieldRequiredError' | translate }}
          </small>

          <small *ngIf="addClientForm.controls.Name.touched &&
                  addClientForm.controls.Name.hasError('onlyWhitespace')"
                 class="p-error">
            {{ 'FieldIsEmptyError' | translate }}
          </small>

          <small *ngIf="addClientForm.controls.Name.touched &&
                  addClientForm.controls.Name.hasError('minlength')"
                 class="p-error">
            {{ 'ShortFieldError' | translate }}
          </small>

          <small *ngIf="addClientForm.controls.Name.touched &&
                  addClientForm.controls.Name.hasError('maxlength')"
                 class="p-error">
            {{ 'LongFieldError' | translate }}
          </small>
        </div>
      </div>

      <div class="form-group flex col gap-10">
        <label class="form-label" for="Surname">{{ 'Surname' | translate }}</label>
        <input id="Surname"
               formControlName="Surname"
               class="form-input p-inputtext-sm"
               [ngClass]="{'ng-invalid ng-dirty': addClientForm.controls.Surname?.invalid &&
               addClientForm.controls.Surname?.touched}"
               type="text"
               pInputText
               [placeholder]="translateService.instant('ClientSurnamePlaceholder')">

        <div class="p-error-wrapper">
          <small *ngIf="addClientForm.controls.Surname?.touched &&
                  addClientForm.controls.Surname?.hasError('onlyWhitespace')"
                 class="p-error">
            {{ 'FieldIsEmptyError' | translate }}
          </small>

          <small *ngIf="addClientForm.controls.Surname?.touched &&
                  addClientForm.controls.Surname?.hasError('minlength')"
                 class="p-error">
            {{ 'ShortFieldError' | translate }}
          </small>

          <small *ngIf="addClientForm.controls.Surname?.touched &&
                  addClientForm.controls.Surname?.hasError('maxlength')"
                 class="p-error">
            {{ 'LongFieldError' | translate }}
          </small>
        </div>
      </div>

      <div class="form-group flex col gap-10">
        <label for="PhoneNumber">{{ 'PhoneNumber' | translate }} *</label>
        <p-inputMask mask="999-99-99-99-99"
                     [ngClass]="{'ng-invalid ng-dirty': addClientForm.controls.PhoneNumber.invalid &&
                     addClientForm.controls.PhoneNumber.touched}"
                     [placeholder]="translateService.instant('ClientPhoneNumberPlaceholder')"
                     formControlName="PhoneNumber"
                     id="PhoneNumber"></p-inputMask>

        <div class="p-error-wrapper">
          <small *ngIf="addClientForm.controls.PhoneNumber.touched &&
                    addClientForm.controls.PhoneNumber.hasError('required')"
                 class="p-error">
            {{ 'FieldRequiredError' | translate }}
          </small>
        </div>
      </div>

      <div class="form-group flex col gap-10">
        <label class="form-label" for="UsualAddress">{{ 'UsualAddress' | translate }} *</label>
        <input id="UsualAddress"
               formControlName="UsualAddress"
               class="form-input p-inputtext-sm"
               [ngClass]="{'ng-invalid ng-dirty': addClientForm.controls.UsualAddress.invalid && addClientForm.controls.UsualAddress.touched}"
               type="text"
               pInputText
               [placeholder]="translateService.instant('ClientUsualAddressPlaceholder')">

        <div class="p-error-wrapper">
          <small *ngIf="addClientForm.controls.UsualAddress.touched &&
                    addClientForm.controls.UsualAddress.hasError('required')"
                 class="p-error">
            {{ 'FieldRequiredError' | translate }}
          </small>

          <small *ngIf="addClientForm.controls.UsualAddress.touched &&
                    addClientForm.controls.UsualAddress.hasError('onlyWhitespace')"
                 class="p-error">
            {{ 'FieldIsEmptyError' | translate }}
          </small>

          <small *ngIf="addClientForm.controls.UsualAddress.touched &&
                    addClientForm.controls.UsualAddress.hasError('maxlength')"
                 class="p-error">
            {{ 'LongFieldError' | translate }}
          </small>
        </div>
      </div>

    </div>

    <button type="submit" class="btn-md skin-btn form-btn">
      <span class="flex justify-content-center align-items-center gap-5">
        {{ 'Add' | translate }}
        <i class="fa-solid fa-square-plus icon-md"></i>
      </span>
    </button>
  </form>
</div>
