@import "/src/app/core/global-css/colors";
@import "/src/app/core/global-css/fonts";
@import "/src/app/core/global-css/buttons";
@import "/src/app/core/global-css/flex";
@import "/src/app/core/global-css/confirmation-buttons";

.no-data-container {
  width: 50%;
  height: max-content;
  background-color: $white-300;
  padding: 25px 25px 40px 25px;
  border-radius: 10px;
  border: 1px solid $skin-100;

  .no-data-message {
    text-align: center;
    font-size: $large;
  }

  .no-data-link {
    text-align: center;
    font-size: $small;

    .add-sweet-link {
      color: $blue-300;
    }
  }

}

.sweets-wrapper {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.sweet-card {
  display: block;
  width: 100%;
  height: 425px;
  background-color: $white-300;
  margin: 0 auto;
  box-shadow: -3px -1px 0 6px $skin-100;
  border-radius: $borderRadius;
}

.sweet-image-wrapper, .sweet-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: $borderRadius $borderRadius 0 0;
}

.sweet-card-info {
  padding: 15px;
}

.sweet-name {
  font-size: $large;
}

.sweet-price {
  font-size: $medium;
}

.sweet-card-buttons {
  width: 100%;
  height: 50px;
  border-radius: 0 0 $borderRadius $borderRadius;
}

.sweet-btn {
  width: 100% !important;
  height: 100% !important;
  transition: $animationTime;
}

.edit-sweet-btn {
  border-radius: 0 0 0 $borderRadius;
}

.delete-sweet-btn {
  border-radius: 0 0 $borderRadius 0;
  box-shadow: 1px 2px 0 1.5px $brown-300;
}

@media (min-width: 1600px) {
  .sweet-card {
    height: 500px;
  }

  .sweet-image-wrapper, .sweet-image {
    height: 325px !important;
  }
}

@media (max-width: 900px) {
  .container {
    padding: 30px;
    grid-template-columns: 1fr;
    gap: 75px;
  }

  .sweet-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    margin: 0 auto;
  }

  .sweet-image-wrapper, .sweet-image {
    height: 150px;
  }

  .sweet-card-buttons {
    align-self: flex-end;
    height: 60px;
  }
}

@media (max-width: 650px) {
  .no-data-container {
    width: 80% !important;
  }
}

:host ::ng-deep .p-progress-spinner-circle {
  stroke: $skin-100 !important;
}
