<ng-container *ngIf="sweets.length === 0 && !stopLoading; else SweetsBlock">
  <div class="flex justify-content-center align-items-center" style="height: 100%;">
    <p-progressSpinner class="p-progress-path"></p-progressSpinner>
  </div>
</ng-container>

<ng-container *ngIf="stopLoading">
  <div class="flex justify-content-center align-items-center" style="height: 100%;">
    <div class="no-data-container flex col gap-25">
      <div class="no-data-message">
        There are no sweets available :(
      </div>
      <div class="no-data-link">
        You can add them <a [routerLink]="['/add/sweet']" class="classic-link">here</a>.
      </div>
    </div>
  </div>
</ng-container>

<ng-template #SweetsBlock>
  <ng-container *ngIf="!stopLoading">
    <div class="sweets-wrapper flex justify-content-center align-items-center">
      <div class="container">

        <div class="sweet-card" *ngFor="let sweet of sweets">
          <div class="sweet-image-wrapper">
            <img
              [src]="sweet.Image"
              class="sweet-image"
              alt="...">
          </div>
          <div class="sweet-card-info">
            <h3 class="sweet-name">{{ sweet.Name }}</h3>
            <span class="sweet-price">CalculatedPrice AMD</span>
          </div>
          <div class="sweet-card-buttons flex justify-content-center align-items-center">
            <button class="sweet-btn edit-sweet-btn btn-md skin-action-btn" (click)="editSweet(sweet.ID)">Edit</button>
            <button class="sweet-btn delete-sweet-btn btn-md brown-action-btn" (click)="deleteSweet(sweet)">Delete</button>
          </div>
        </div>

      </div>
    </div>
  </ng-container>
</ng-template>

<p-confirmDialog [breakpoints]="{'650px': '85vw'}"></p-confirmDialog>
