<div class="auth-wrapper flex justify-content-center align-items-center">
  <div class="container flex col justify-content-center align-items-center">
    <h1 class="auth-header">Enter The Password</h1>
    <p-password class="auth-input"
                [toggleMask]="true"
                [feedback]="false"
                placeholder="Enter the password.."
                (keydown.enter)="checkPassword()"
                [(ngModel)]="passwordInput"></p-password>
    <button class="btn-md skin-btn"
            (click)="checkPassword()"
            (keydown.enter)="checkPassword()">Proceed</button>
  </div>

</div>
