<div class="w-100 h-100 wrapper flex justify-content-center align-items-center">
  <div class="container flex col justify-content-center align-items-center">
    <span class="auth-header">{{ 'EnterThePassword' | translate  }}</span>
    <div class="flex col gap-15">
      <p-password class="auth-input"
                  [toggleMask]="true"
                  [feedback]="false"
                  [placeholder]="translateService.instant('EnterThePassword')"
                  (keydown.enter)="proceed()"
                  [ngClass]="{
                'ng-invalid ng-dirty': passwordIsInvalid
                }"
                  [(ngModel)]="passwordInput">
      </p-password>

      <small class="p-error text-center" *ngIf="passwordIsInvalid">
        {{ 'IncorrectPassword' | translate }}
      </small>
    </div>

    <button class="btn-sm primary-btn"
            (click)="proceed()"
            (keydown.enter)="proceed()">
      <span class="flex justify-content-center align-items-center gap-10">
        {{ 'Proceed' | translate }}
        <i class="fa-solid fa-arrow-right-long icon-sm"></i>
      </span>
    </button>
  </div>

</div>
