@import "/src/app/core/global-css/flex";
@import "/src/app/core/global-css/colors";
@import "/src/app/core/global-css/fonts";
@import "/src/app/core/global-css/buttons";



.wrapper {
  padding: 50px;

  .container {
    width: 400px;
    height: 320px;
    background-color: $white-300;
    border-radius: 12px;
    border: 2px solid $skin-300;
    gap: 40px;
    transition: $animationTime;

    .auth-header {
      text-align: center;
      font-size: $larger;
      font-weight: $semiBold;
    }
  }
}


@media (max-width: 850px) {
  .wrapper {
    padding: 30px !important;

    .container {
      width: 350px !important;
      height: 250px !important;

      .auth-header {
        font-size: $medium !important;
      }
    }
  }
}

:host ::ng-deep .pi-eye,
:host ::ng-deep .pi-eye-slash {
  cursor: pointer !important;
}

:host ::ng-deep .p-component.p-password-input {
  width: 200px !important;
  font-size: $Xsmall !important;
}

@media (max-width: 600px) {
  :host ::ng-deep .p-component.p-password-input {
    width: 175px !important;
    height: 35px !important;
  }
}
