@import '/src/app/core/global-css/flex';
@import '/src/app/core/global-css/fonts';
@import '/src/app/core/global-css/buttons';
@import '/src/app/core/global-css/colors';

$links-gap: 25px;

.wrapper {
  width: 100%;
  height: 100%;
  padding: 50px 50px 100px 50px;

  .container {
    width: 65%;
    padding: 20px 50px;
    margin: 0 auto;
    background-color: $white-300;
    box-shadow: 0 0 2px 0 $skin-100;
    border-radius: $borderRadius;

    .add-header {
      width: 100%;
      font-size: $large;
      text-align: center;
      padding-bottom: 5px;
    }

    .links {
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 25px 15px;
      gap: $links-gap;

      .link-btn {
        width: calc(50% - $links-gap);
        height: 70px !important;
        font-size: $medium;
      }
    }
  }
}

@media (max-width: 900px) {
  .wrapper {
    padding: 50px 30px !important;

    .container {
      width: 100% !important;
      height: 60% !important;

      .links {
        flex-direction: column !important;
        flex-wrap: nowrap !important;

        .link-btn {
          width: 100% !important;
          height: 50px !important;
        }
      }
    }
  }
}
