<div class="wrapper">
  <div class="container flex col justify-content-center align-items-center">
    <h1 class="add-header">Add Items</h1>

    <div class="links flex justify-content-start align-items-center">
      <button class="btn-md link-btn skin-btn" [routerLink]="['sweet']">
        <span class="flex justify-content-center align-items-center gap-10">
          Sweet
          <i class="fa-solid fa-cake-candles icon-md"></i>
        </span>
      </button>

      <button class="btn-md link-btn skin-btn" [routerLink]="['product']">
        <span class="flex justify-content-center align-items-center gap-10">
          Product
          <i class="fa-solid fa-egg icon-md"></i>
        </span>
      </button>

      <button class="btn-md link-btn skin-btn" [routerLink]="['client']">
        <span class="flex justify-content-center align-items-center gap-10">
          Client
          <i class="fa-solid fa-user icon-md"></i>
        </span>
      </button>

      <button class="btn-md link-btn skin-btn" [routerLink]="['order']">
        <span class="flex justify-content-center align-items-center gap-10">
          Order
          <i class="fa-solid fa-truck icon-md"></i>
        </span>
      </button>
    </div>
  </div>
</div>
