<div class="w-100 h-100 wrapper">
  <div class="container flex col justify-content-center align-items-center">
    <h1 class="add-header">
      {{ 'AddItems' | translate }}
    </h1>

    <div class="w-100 h-100 links flex flex-wrap justify-content-center align-items-center">
      <button class="btn-md link-btn primary-btn" [routerLink]="[Configs.PrimaryItemAddRoute]">
        <span class="flex justify-content-center align-items-center gap-10">
          {{ 'PrimaryItem' | translate }}
          <i class="fa-solid fa-cake-candles icon-md"></i>
        </span>
      </button>

      <button class="btn-md link-btn primary-btn" [routerLink]="[Configs.SecondaryItemAddRoute]">
        <span class="flex justify-content-center align-items-center gap-10">
          {{ 'SecondaryItem' | translate }}
          <i class="fa-solid fa-egg icon-md"></i>
        </span>
      </button>

      <button class="btn-md link-btn primary-btn" [routerLink]="['client']">
        <span class="flex justify-content-center align-items-center gap-10">
          {{ 'Client' | translate }}
          <i class="fa-solid fa-user icon-md"></i>
        </span>
      </button>

      <button class="btn-md link-btn primary-btn" [routerLink]="['order']">
        <span class="flex justify-content-center align-items-center gap-10">
          {{ 'Order' | translate }}
          <i class="fa-solid fa-truck icon-md"></i>
        </span>
      </button>

      <button class="btn-md link-btn primary-btn" [routerLink]="['consumption']">
        <span class="flex justify-content-center align-items-center gap-10">
          {{ 'Consumption' | translate }}
          <i class="fa-solid fa-sack-dollar icon-md"></i>
        </span>
      </button>
    </div>
  </div>
</div>
