<div class="w-100 h-100 wrapper flex justify-content-center align-items-start">
  <div class="container flex col gap-20">
    <h2 class="text-center">
      {{ 'HistoryHeading'| translate: {key: HistoryItemName | translate} }}
    </h2>

    <div class="w-100 history-topbar-wrapper flex gap-10 justify-content-start align-items-center"
         [ngClass]="{'justify-content-between': historyService.IsInProfitPage.getValue() || historyService.IsInConsumptionsPage.getValue() }">
      <div class="w-100 period-client-selects-wrapper flex gap-10">
        <p-multiSelect inputId="Periods"
                       id="Periods"
                       [autofocusFilter]="false"
                       [(ngModel)]="selectedPeriod"
                       [ngModelOptions]="{standalone: true}"
                       [options]="historyService.HistoryPeriods"
                       [showToggleAll]="false"
                       (onChange)="setPeriod($event)"
                       optionLabel="Name"
                       [placeholder]="translateService.instant('SelectPeriod')">
        </p-multiSelect>

        <ng-container *ngIf="!RouteClientID && historyService.IsInOrdersPage.getValue()">
          <p-multiSelect inputId="Clients"
                         id="Clients"
                         [autofocusFilter]="false"
                         [(ngModel)]="selectedClient"
                         [ngModelOptions]="{standalone: true}"
                         [options]="clients"
                         [showToggleAll]="false"
                         (onChange)="setClient($event)"
                         optionLabel="Name"
                         [placeholder]="translateService.instant('SelectClient')">
          </p-multiSelect>
        </ng-container>
      </div>

      <ng-container *ngIf="!historyService.IsInProfitPage.getValue() && !historyService.IsInConsumptionsPage.getValue()">
        <div class="total-orders-count flex gap-5">
          <span class="total-count">
            {{ 'TotalCount' | translate }}:
          </span>
          <span class="total-count">
            {{ historyService.FilteredHistoryItems.getValue().length }}
          </span>
        </div>
        <div class="total-orders-count flex gap-5">
          <span class="total-count">
            {{ 'Total' | translate }}:
          </span>
          <span class="total-count">
            {{ historyService.HistoryItemsTotal$.getValue() }}
          </span>
        </div>
      </ng-container>

      <ng-container *ngIf="historyService.IsInProfitPage.getValue()">
        <div class="total-profit-wrapper flex gap-10">
          <span class="profit">
            {{ 'TotalProfit' | translate }}:
          </span>
          <div class="profit-info-wrapper flex gap-5">
            <span class="total-profit">
              {{ historyService.HistoryItemsTotalProfit.getValue() }}
            </span>
            <span class="total-profit-currency">
              AMD
            </span>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="historyService.IsInConsumptionsPage.getValue()">
        <div class="total-consumption-wrapper flex gap-10">
          <span class="profit">
            {{ 'TotalConsumptions' | translate }}:
          </span>
          <div class="consumption-info-wrapper flex gap-5">
            <span class="total-consumption">
              {{ historyService.HistoryItemsTotalConsumptions$.getValue() }}
            </span>
            <span class="total-consumption-currency">
              AMD
            </span>
          </div>
        </div>
      </ng-container>
    </div>

    <ng-container *ngIf="!Pending && selectedPeriod.length && historyService.FilteredHistoryItems.getValue().length">
      <div class="w-100 p-15 period-card flex col gap-25"
           *ngFor="let HistoryItem of historyService.FilteredHistoryItems | async">

        <div class="w-100 h-100 date-wrapper flex justify-content-between">
          <span class="date-day">
            {{ HistoryItem.DateOfPurchase | date : 'EEEE MMMM d' }}
          </span>

          <span class="date-time">
            {{ HistoryItem.DateOfPurchase | date : 'HH:mm:ss a' }}
          </span>
        </div>

        <ng-container *ngIf="historyService.IsInOrdersPage.getValue() || RouteClientID">
          <div class="w-100 order-info-wrapper flex col gap-15 justify-content-between">
            <div class="h-100 card-info-section flex col gap-15">
              <div class="w-100 client-info flex gap-10 justify-content-between align-items-center">
                <span class="client">
                  {{ 'Client' | translate }}
                </span>
                <span class="client-name" [pTooltip]="HistoryItem.Client!">
                  {{ HistoryItem.Client }}
                </span>
              </div>

              <div class="w-100 order-total-price-info flex gap-5 justify-content-between align-items-center">
                <span class="total-price">
                  {{ 'TotalPrice' | translate }}
                </span>

                <span class="order-total-price-wrapper flex gap-5">
                  <span class="order-price">
                    {{ HistoryItem.TotalPrices.OrderTotalPrice }}
                  </span>
                  <span class="price-currency">
                    AMD
                  </span>
                </span>
              </div>

              <div class="w-100 order-total-price-info flex gap-5 justify-content-between align-items-center">
                <span class="total-price">
                  {{ 'DeliveryPrice' | translate }}
                </span>

                <span class="order-total-price-wrapper flex gap-5">
                  <span class="order-price">
                    {{ HistoryItem.DeliveryPrice }}
                  </span>
                  <span class="price-currency">
                    AMD
                  </span>
                </span>
              </div>
            </div>

            <div class="item-profit-info-wrapper flex col gap-15 p-10">
                <span class="order-items-sub-header text-center">
                  {{ 'Sweets' | translate }} ({{ 'EachPrice' | translate }})
                </span>

              <div class="order-items-wrapper flex col gap-15 justify-content-center align-items-center">
                <div class="w-100 order-sweet flex gap-15 justify-content-between align-items-center"
                     *ngFor="let sweet of HistoryItem.Sweets">
                  <span class="item-name" [pTooltip]="sweet.Name">
                    (x{{ sweet.Quantity }}) {{ sweet.Name }}
                  </span>

                  <span class="order-price-wrapper flex gap-5 justify-content-center align-items-center">
                    <span class="item-price">
                      {{ sweet.PriceWhenOrdered * sweet.Quantity }}
                    </span>
                    <span class="price-currency">
                      AMD
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="historyService.IsInConsumptionsPage.getValue()">
          <div class="w-100 card-consumption-info flex justify-content-between align-items-center">
            <span>
              {{ 'You' | translate }}
            </span>

            <div class="flex item-consumption-info gap-10">
              <span class="consumption-item-name"
                    [pTooltip]="HistoryItem.Name"
              >
                {{ HistoryItem.Name }}
              </span>


              <span class="consumption-item-price flex gap-5">
                {{ HistoryItem.Price }}
                <span class="consumption-item-currency">
                  AMD
                </span>
              </span>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="historyService.IsInProfitPage.getValue()">
          <div class="w-100 order-info-wrapper flex col gap-15 justify-content-between">
            <div class="h-100 card-info-section flex col gap-15">
              <div class="w-100 client-info flex gap-10 justify-content-between align-items-center">
                <span class="client">
                  {{ 'Client' | translate }}
                </span>
                <span class="client-name" [pTooltip]="HistoryItem.Client!">
                  {{ HistoryItem.Client }}
                </span>
              </div>

              <div class="w-100 order-total-price-info flex gap-5 justify-content-between align-items-center">
                <span class="total-price">
                  {{ 'TotalProfit' | translate }}
                </span>

                <span class="order-total-price-wrapper flex gap-5">
                  <span class="order-price">
                    {{ HistoryItem.Profit }}
                  </span>
                  <span class="price-currency">
                    AMD
                  </span>
                </span>
              </div>
            </div>

            <div class="item-profit-info-wrapper flex col gap-15 p-10">
                <span class="order-items-sub-header text-center">
                  {{ 'Sweets' | translate }} ({{ 'EachProfit' | translate }})
                </span>

              <div class="order-items-wrapper flex col gap-15 justify-content-center align-items-center">
                <div class="w-100 order-sweet flex gap-15 justify-content-between align-items-center"
                     *ngFor="let sweet of HistoryItem.Sweets">
                  <span class="item-name" [pTooltip]="sweet.Name">
                    (x{{ sweet.Quantity }}) {{ sweet.Name }}
                  </span>

                  <span class="order-price-wrapper flex gap-5 justify-content-center align-items-center">
                    <span class="item-price">
                      {{ sweet.Profit * sweet.Quantity }}
                    </span>
                    <span class="price-currency">
                      AMD
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngIf="Pending">
      <div class="messages-wrapper w-100 flex gap-10 justify-content-center align-items-center">
        <span class="message-text">{{ 'PleaseWait' | translate }}</span>
        <p-progressSpinner class="p-progress-path"></p-progressSpinner>
      </div>
    </ng-container>

    <ng-container *ngIf="!Pending && selectedPeriod.length && !historyService.FilteredHistoryItems.getValue().length">
      <div class="messages-wrapper w-100 flex gap-15 justify-content-center align-items-center">
        <i class="fa-solid fa-face-frown icon-larger"></i>
        <span class="message-text">{{ 'EmptyHistoryMessage' | translate }}</span>
      </div>
    </ng-container>

    <ng-container *ngIf="!Pending && !selectedPeriod.length">
      <div class="messages-wrapper w-100 flex gap-15 justify-content-center align-items-center">
        <i class="fa-solid fa-circle-exclamation icon-larger"></i>
        <span class="message-text">{{ 'PleaseSelectPeriod' | translate }}</span>
      </div>
    </ng-container>
  </div>
</div>
