@import "/src/app/core/global-css/GlobalCssConfigs";

.wrapper {
  padding: 50px 50px 100px 50px;

  .container {
    width: 80%;
    padding: 25px 50px 40px;
    margin: 0;
    background-color: $white-300;
    border-radius: $borderRadius;
    box-shadow: 0 0 2px 0 $skin-100;
    transition: width $animationTime, height $animationTime;

    .history-topbar-wrapper {
      .total-orders-count,
      .total-profit-wrapper,
      .total-consumption-wrapper {
        text-wrap: nowrap;
      }
    }
  }
}

:host ::ng-deep .p-multiselect.p-component {
  min-width: 200px !important;
}

.period-card {
  background-color: $white-200;
  min-height: 75px;
  border-radius: $borderRadius;
  box-shadow: 6px 5px 2px 2px $white-100;

  .date-wrapper .date-day {
    padding-bottom: 5px;
    border-bottom: 2px solid $skin-100;
    border-radius: 2px;
  }

  .order-info-wrapper {
    .client-info-wrapper .client-info span {
      font-size: $medium;
    }

    .client-info-wrapper .order-delivery-wrapper span {
      font-size: $medium;
    }

    .client-info-wrapper .order-total-price-info span {
      font-size: $medium;
    }

    .item-profit-info-wrapper .order-items-sub-header {
      padding-bottom: 4px;
      border-bottom: 2px solid $skin-100;
    }

    .item-profit-info-wrapper .order-items-wrapper {
        max-height: 150px;
        overflow-y: auto;
    }

    .item-profit-info-wrapper .order-sweets .order-item span {
        user-select: none;
        font-size: $medium;
    }
  }
}

@media (max-width: 900px) {
  .wrapper .container .history-topbar-wrapper,
  .wrapper .container .period-client-selects-wrapper {
    flex-direction: column;
  }

  .history-topbar-wrapper .total-orders-count,
  .history-topbar-wrapper .total-consumption-wrapper {
    width: 100%;
    justify-content: space-between;
  }

  .date-wrapper span {
    font-size: $small;
  }

  .card-info-section .client-info span {
    user-select: none;
    font-size: $small;
  }

  .card-info-section .order-total-price-info span {
    font-size: $small;
  }

  .order-info-wrapper .item-profit-info-wrapper span {
    user-select: none;
    font-size: $small !important;
  }

  .order-items-wrapper {
    .order-item .item-name {
      text-wrap: nowrap;
      max-width: 120px;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .order-item span {
      font-size: $small !important;
    }

    .item-price-wrapper .item-price {
      text-wrap: nowrap;
    }
  }

  .card-consumption-info span,
  .card-consumption-info .item-consumption-info span {
    font-size: $small !important;
    text-wrap: nowrap;
  }

  .card-consumption-info .item-consumption-info .consumption-item-name {
    user-select: none;
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

@media (max-width: 600px) {
  .wrapper {
    align-items: flex-start !important;
    padding: 30px !important;

    .container {
      width: 100% !important;
      padding: 25px 30px !important;
    }
  }

  .history-topbar-wrapper {
    .period-client-selects-wrapper {
      .p-element.p-inputwrapper {
        width: 100% !important;
      }
    }

    .total-orders-count,
    .total-profit-wrapper,
    .total-consumption-wrapper {
      text-wrap: nowrap;
      font-size: $small !important;
    }
  }
}


//    History Container Messages Block Start

.messages-wrapper {
  min-height: 130px;
  padding: 10px;
  background-color: $table-loading;
  border-radius: $borderRadius;

  .message-text {
    font-size: $medium;
  }
}

:host ::ng-deep .p-progress-spinner,
:host ::ng-deep .p-progress-spinner-svg {
  width: 25px !important;
  height: 25px !important;
}

//    History Container Messages Block End
