<form [formGroup]="editSweetForm">
  <div class="w-100 flex col justify-content-center align-items-center gap-20">
    <div class="w-100 flex col gap-10 justify-content-center">

      <label class="form-label" for="product-name">{{ 'Name' | translate }} *</label>
      <input formControlName="Name"
             id="product-name"
             class="form-input"
             [ngClass]="{'ng-invalid ng-dirty': editSweetForm.controls['Name'].invalid &&
             editSweetForm.controls['Name'].touched}"
             type="text"
             pInputText
             [placeholder]="translateService.instant('SweetNamePlaceholder')">

      <div class="p-error-wrapper">
        <small *ngIf="editSweetForm.controls['Name'].touched &&
                  editSweetForm.controls['Name'].hasError('required')"
               class="p-error">
          {{ 'FieldRequiredError' | translate }}
        </small>
        <small *ngIf="editSweetForm.controls['Name'].touched &&
                  editSweetForm.controls['Name'].hasError('maxlength')"
               class="p-error">
          {{ 'LongFieldError' | translate }}
        </small>
      </div>
    </div>

    <div class="w-100 flex col gap-10 justify-content-center">
      <label class="form-label" for="sweet-products">{{ 'Products' | translate  }} *</label>
      <div class="multiselect-container">
        <p-multiSelect inputId="sweet-products"
                       id="sweet-products"
                       [autofocusFilter]="false"
                       [ngClass]="{'ng-invalid ng-dirty': editSweetForm.controls['Products'].invalid &&
                       editSweetForm.controls['Products'].touched}"
                       [options]="products"
                       [showToggleAll]="false"
                       [(ngModel)]="sweetProducts"
                       [ngModelOptions]="{standalone: true}"
                       (onChange)="createItem($event)"
                       optionLabel="Name"
                       [placeholder]="translateService.instant('SweetProductsPlaceholder')">
        </p-multiSelect>
      </div>

      <ng-container formArrayName="Products" *ngIf="productsAsFormArray().controls.length > 0">
        <div class="w-100 flex col gap-10 justify-content-center"
             *ngFor="let group of productsAsFormArray().controls; let i = index"
             [formGroupName]="i">
          <div class="w-100 flex justify-content-between align-items-center">
            <label for="Quantity">
              {{ getFormGroup(i).controls['Name'].value }} {{ 'Quantity'  | translate }} *</label>
            <button type="button"
                    class="btn-xs skin-action-btn"
                    (click)="removeFormGroup(i)">
              <i class="fa-solid fa-trash icon-md"></i>
            </button>
          </div>
          <p-inputNumber [showButtons]="true"
                         buttonLayout="horizontal"
                         id="Quantity"
                         formControlName="Quantity"
                         (onInput)="sweetSelectionChangedWithInput($event)"
                         [step]="0.25"
                         [min]="0.5"
                         [ngClass]="{'ng-invalid ng-dirty': getFormGroup(i).controls['Quantity'].touched &&
                         getFormGroup(i).controls['Quantity'].invalid}"
                         incrementButtonIcon="pi pi-plus"
                         decrementButtonIcon="pi pi-minus"
                         inputId="Quantity">
          </p-inputNumber>
        </div>
      </ng-container>

      <div class="p-error-wrapper">
        <small *ngIf="editSweetForm.controls['Products'].touched &&
                  editSweetForm.controls['Products'].hasError('required')"
               class="p-error">
          {{ 'FieldRequiredError' | translate }}
        </small>
      </div>
    </div>

    <div class="w-100 flex col gap-10 justify-content-center">
      <label for="Profit">{{ 'Profit' | translate }} *</label>
      <p-inputNumber id="Profit"
                     formControlName="Profit"
                     (keyup)="sweetSelectionChangedWithInput($event)"
                     [ngClass]="{'ng-invalid ng-dirty': editSweetForm.controls['Profit'].touched &&
                       editSweetForm.controls['Profit'].invalid}"
                     [placeholder]="translateService.instant('SweetProfitPlaceholder')"
                     inputId="Profit">
      </p-inputNumber>

      <div class="p-error-wrapper">
        <small *ngIf="editSweetForm.controls['Profit'].touched &&
                  editSweetForm.controls['Profit'].hasError('required')"
               class="p-error">
          {{ 'FieldRequiredError' | translate }}
        </small>

        <small *ngIf="editSweetForm.controls['Profit'].touched &&
                  editSweetForm.controls['Profit'].hasError('isNotPositive')"
               class="p-error">
          {{ 'NegativeFieldError'  | translate }}
        </small>
      </div>
    </div>

    <div class="form-group w-100 flex col gap-10 justify-content-center">
      <span class="image-label">{{ 'Image' | translate }} *</span>
      <div class="img-dropzone"
           [ngClass]="{'img-invalid': editSweetForm.controls['Image'].invalid && editSweetForm.controls['Image'].touched}"
           imgDrag
           (click)="imgInput.click()"
           (file)="imageDropped($event)">
        <div class="drag-message flex col gap-10 justify-content-center align-items-center">
          <i class="pi pi-image icon-max"></i>
          <span class="flex gap-5 align-items-center">
                {{ 'DragYourImagesMessage'  | translate }}
              </span>
        </div>
      </div>

      <input style="display: none;"
             #imgInput
             type="file"
             accept="image/png,image/jpg,image/jpeg"
             (change)="onFileChange($event)"/>

      <ng-container *ngIf="editSweetForm.controls['Image'].value">
        <div class="img-preview">
          <div class="img-container" *ngIf="(editSweetForm.controls['Image'].value) || (sweet.Image)">
            <div class="rounded-btn gray-btn img-cancel" (click)="imageClear()"><i
              class="pi pi-times img-cancel"></i></div>
            <img [src]="editSweetForm.controls['Image'].value"
                 class="selected-sweet-image" [alt]="sweet.Name">
          </div>
        </div>
      </ng-container>

      <div class="p-error-wrapper">
        <small *ngIf="editSweetForm.controls['Image'].touched &&
                  editSweetForm.controls['Image'].hasError('required')"
               class="p-error">
          {{ 'FieldRequiredError' | translate }}
        </small>
      </div>

    </div>
  </div>
</form>
