@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "src/app/core/global-css/colors";
@import "src/app/core/global-css/fonts";

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: $black;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: $skin-action-btn-300;
}

::-webkit-scrollbar-thumb {
  background-color: $skin-action-btn-200;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $skin-action-btn-disabled;
}

@media (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
}

.p-inputtext:hover, .p-multiselect.p-component:hover {
  border: 1px solid $skin-100 !important;
}

.p-inputtext:focus, .p-multiselect:not(.p-disabled).p-focus {
  border: 1px solid $skin-100 !important;
  box-shadow: 0 0 0 3px $skin-300 !important;
}

.p-checkbox-box:hover {
  border-color: $skin-100 !important;
}

.p-checkbox:not(p-checkbox-disabled) .p-checkbox-box.p-focus {
  border: 1px solid $skin-100 !important;
  box-shadow: 0 0 0 3px $skin-300 !important;
}

.p-checkbox-box.p-highlight {
  background-color: $skin-100 !important;
  border: 1px solid $brown-300 !important;
}

.p-checkbox-icon {
  color: $brown-100 !important;
}

.p-multiselect-items  {
  padding: 0 !important;
}

.p-multiselect-close:focus {
  box-shadow: 0 0 0 3px $skin-300 !important;
}

.p-multiselect-item {
  background: transparent !important;
}

.p-multiselect-item.p-highlight span {
  color: $brown-100 !important;
}

.p-multiselect-item:focus {
  box-shadow: 0 0 0 3px $skin-300 !important;

}

.p-tooltip-text {
  font-size: $small !important;
}
