@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "src/app/core/global-css/colors";

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: $black;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: $skin-action-btn-300;
}

::-webkit-scrollbar-thumb {
  background-color: $skin-action-btn-200;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $skin-action-btn-disabled;
}

@media (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
}

.p-inputtext:hover {
  border: 1px solid $skin-100 !important;
}

.p-inputtext:focus {
  border: 1px solid $skin-100 !important;
  box-shadow: 0 0 0 3px $skin-300 !important;
}
