@import "app/core/global-css/colors";
@import "app/core/global-css/fonts";
@import "app/core/global-css/flex";

.header-wrapper {
  width: 100%;
  height: 75px;
  background-color: $white-400;
  position: fixed;
  top: 0;
  opacity: 0.8;
  border-bottom: 1px solid $skin-100;
}

.header-links-container {
  list-style: none;
  width: 400px;
  margin: 0;
  padding: 0;

  .header-link {
    width: 100%;
    height: 75px;
    line-height: 75px;
    font-size: $medium;
    user-select: none;
    text-align: center;
    cursor: pointer;
    transition: 0.15s;
  }
  .header-link:hover {
    background-color: $white-200;
  }
  .header-link:active {
    background-color: $white-100;
  }
}

.header-logo , .header-logo > img {
  width: 75px;
  heighT: 74px;
  cursor: pointer;
}

.active {
  border-bottom: 4px solid $skin-100;
}
