<div class="w-100 header-wrapper flex justify-content-between align-items-center">

  <div class="logo-wrapper" [routerLink]="[Configs.PrimaryItemRoute]" tabindex="-1">
    <div class="header-logo">
      <img [ngSrc]="Configs.BrandLogoPath" alt="Logo" height="65" width="64">
    </div>
  </div>

  <ng-container *ngIf="isAuthenticated.getValue() || isAlreadyAuthenticated">
    <div class="w-100 h-100 header-links-container flex justify-content-end align-items-center">

      <li class="w-100 h-100 header-link" [routerLink]="[Configs.PrimaryItemRoute]" routerLinkActive="active" tabindex="-1">
        <div class="h-100 flex justify-content-center align-items-center gap-10">
          <span class="text-center">
            {{ 'PrimaryItems' | translate }}
          </span>
          <i [class]="'icon-md ' + Configs.PrimaryItemIcon"></i>
        </div>
      </li>
      <li class="w-100 h-100 header-link" [routerLink]="[Configs.SecondaryItemRoute]" routerLinkActive="active" tabindex="-1">
        <div class="h-100 flex justify-content-center align-items-center gap-10">
          <span class="text-center">
            {{ 'SecondaryItems' | translate }}
          </span>
          <i [class]="'icon-md ' + Configs.SecondaryItemIcon"></i>
        </div>
      </li>
      <li class="w-100 h-100 h-100 header-link" [routerLink]="['clients']" routerLinkActive="active" tabindex="-1">
        <div class="h-100 flex justify-content-center align-items-center gap-10">
          <span class="text-center">
            {{ 'Clients' | translate }}
          </span>
          <i [class]="'icon-md ' + Configs.ClientsIcon"></i>
        </div>
      </li>
      <li class="w-100 h-100 h-100 header-link" [routerLink]="['history/orders']" routerLinkActive="active" tabindex="-1">
        <div class="h-100 flex justify-content-center align-items-center gap-10">
          <span class="text-center">
            {{ 'Orders' | translate }}
          </span>
          <i [class]="'icon-md ' + Configs.OrdersIcon"></i>
        </div>
      </li>
      <li class="w-100 h-100 header-link" [routerLink]="['history/consumptions']" routerLinkActive="active" tabindex="-1">
        <div class="h-100 flex justify-content-center align-items-center gap-10">
          <span class="text-center">
            {{ 'Consumptions' | translate }}
          </span>
          <i [class]="'icon-md ' + Configs.ConsumptionsIcon"></i>
        </div>
      </li>
      <li class="w-100 h-100 header-link" [routerLink]="['history/profit']" routerLinkActive="active" tabindex="-1">
        <div class="h-100 flex justify-content-center align-items-center gap-10">
          <span class="text-center">
            {{ 'Profit' | translate }}
          </span>
          <i [class]="'icon-md ' + Configs.ProfitIcon"></i>
        </div>
      </li>
      <li class="w-100 h-100 header-link" [routerLink]="['add']" routerLinkActive="active" tabindex="-1">
        <div class="h-100 flex justify-content-center align-items-center gap-10">
          <span class="text-center">
            {{ 'Add' | translate }}
          </span>
          <i [class]="'icon-md ' + Configs.AddIcon"></i>
        </div>
      </li>

      <div class="h-100 languages-wrapper flex justify-content-center align-items-center">
        <p-panelMenu [model]="languageService.languagesList"></p-panelMenu>
      </div>

    </div>
  </ng-container>
</div>
