@import "/src/app/core/global-css/GlobalCssConfigs";


.header-wrapper {
  height: 75px;
  background-color: $white-400;
  position: fixed;
  top: 0;
  opacity: 0.8;
  border-bottom: 1px solid $skin-100;
  z-index: 2;

  .header-logo , .header-logo > img {
    width: 75px;
    height: 74px;
    cursor: pointer;
  }

  .header-links-container {
    list-style: none;
    margin: 0;
    padding: 0;

    .header-link {
      padding: 10px;
      max-width: 120px;
      font-size: $medium;
      user-select: none;
      text-align: center;
      cursor: pointer;
      transition: background-color 0.15s;

      &:hover {
        background-color: $white-200;
      }

      &:active {
        background-color: $white-100;
      }
    }
  }
}

.active {
  border-bottom: 4px solid $skin-100;
}
