@import '/src/app/core/global-css/table';

:host ::ng-deep .p-inputnumber-input.p-component {
  width: 140px !important;
  height: 35px !important;
  font-size: $Xsmall !important;
}

.d-filters-wrapper {
  overflow-x: auto;
}

.filter-clear-btn {
  position: static !important;
}
